body{
    background-color: rgb(31, 120, 31);
}


.navbarstyle{
    background-color: white;
    font-size: 18px;
    color: black;
    font-weight: 500;
}

.btn-custom{
    display: inline-block;
    font-weight: 300;
    line-height: 1.5;
    color: rgb(31, 120, 31);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: black;
    border: 12px solid transparent;
    font-size: x-large;
    font-weight: bold;
    border-radius: 2rem;
    padding: .2rem 2rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.paddingtopbot{
    padding-top: 100px;
    padding-bottom: 100px;
}


.leftMargin{
    margin-left: 200px;
    margin-right: 300px;
}

.rightMargin{
    
}
h1{
    font-size: 64px;
    font-weight: bold;
    color: whitesmoke;
}


h3{
    color: white;
}